:root {
	--vp-c-accent: #2c97df;

    // external-link-icon
    --external-link-icon: url("/assets/icons/arrow-up-right-from-square.svg");
    --external-link-c-icon: var(--vp-c-text-mute);
}

[data-theme='dark'] {
	--vp-c-accent: #2c97df;

    // external-link-icon
    --external-link-icon: url("/assets/icons/arrow-up-right-from-square.svg");
    --external-link-c-icon: var(--vp-c-text-mute);
}

.vp-hero-infos {
    text-align: center;
}

.info-box {
    padding: 0.1rem;
    background-color: transparent;
    border-radius: 0.4rem;
    border-left: 2px solid var(--vp-c-accent);
}

.info-box p {
    margin: 0.6rem 0.6rem 0.6rem 1rem;
    padding-bottom: 0.4rem;
}

.info-box p:last-child {
    margin: 0.6rem 0.6rem 0.6rem 1rem;
    padding-bottom: 0rem;
}
