// navbar
$navbar-height: 3.75rem;
$navbar-padding-x: 1.5rem;
$navbar-padding-y: 0.7rem;
$navbar-mobile-height: 3.25rem;
$navbar-mobile-padding-x: 1rem;
$navbar-mobile-padding-y: 0.5rem;

// sidebar
$sidebar-width: 14rem;
$sidebar-mobile-width: 16rem;

// content
$content-width: 980px;
$wide-content-width: 980px;
$home-page-width: 1160px;

/* theme color */
$theme-color: #3eaf7c;